<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>헌혈증 기부요청</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/bootstrap/jumbotron.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
        integrity = "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"</script>
    <script>window.jQuery || document.write('<script src="/bootstrap/jquery-slim.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
        crossorigin="anonymous"></script>
</head>

<%if(!locals.user_id){%>    
    <script>
        alert('로그아웃 상태입니다. 메인으로 돌아갑니다.');
        location.href = '/';  
    </script>
<%}%>

<body>
    


    <script>
        $(function () {
            $("#need_count").on("keyup", function () {
                $(this).val($(this).val().replace(/[^0-9]/g, ""));
            });
        })
    </script>
    <main>
        <%- include('header_login.ejs')%>

        <div class="jumbotron">
            <form class="form-register" method="post" action="/blood/blood_request_do">
                <br>
                <p>
                    <h2 class="text-center">기부요청하기</h2>
                </p>
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label text-right">제목</label>
                    <div class="col">
                        <input type="text" id="title" name="title" class="form-control col-sm-4" placeholder="내용을 입력해주세요" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="inputDiagnosis" class="col-sm-2 col-form-label text-right">증빙서류 업로드</label>
                    <br>
                    <div class="col-sm-6">
                        <input type="file" class="custom-file-input" name="diagnosis" id="diagnosis" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label col-sm-8" for="inputGroupFile01">실제혈액 수혈(사용)량 확인이 가능한 의료기관 발급 증빙서류를 첨부해주세요.</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUsed_place" class="col-sm-2 col-form-label text-right">사용될 병원</label>
                    <div class="col-sm-1">
                            <select class="custom-select" name="used_place">
                                    <option selected value="병원1">병원1</option>
                                    <option value="병원2">병원2</option>
                                 
                                </select>
                        <!-- <input type="text" id="used_place" name="used_place" class="form-control col-sm-4" placeholder="사용될 병원의 이름을 입력해주세요" required> -->
                    </div>
                </div>
               
                <div class="form-group row">
                    <label for="inputNeed_count" class="col-sm-2 col-form-label text-right">필요한 헌혈증 개수</label>
                    <div class="col">
                        <input type="text" id="need_count" name="need_count" class="form-control col-sm-4" placeholder="필요한 헌혈증 개수를 숫자로만 입력해주세요" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputStorye" class="col-sm-2 col-form-label text-right">사연</label>
                    <div class="col">
                        <textarea rows="10" cols="5" id="story" name="story" class="form-control col-sm-4" aria-label="With textarea" placeholder="사연을 입력해주세요"></textarea>
                    </div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" id="join-submit" class="btn btn-primary col-sm-2">기부요청</i></button>
                    <a href="/blood/blood_donation_main" id="cancel" name="cancel" class="btn btn-warning col-sm-2">취소</a>
                </div>
                <input type="hidden", name="req_user_id" value="<%=locals.user_id%>">
            </form>
        </div>
    </main>

    <footer class="container">
        <p>&copy; Company 2017-2019</p>
    </footer>
    
</body>

</html>
